/* Large Devices, Wide Screens */
@media (max-width: 1465px) {
  #skillsSection {
    padding-right: 5%;
    padding-left: 5%;
  }
}

@media only screen and (max-width : 1425px) {
  /* NAVBAR */

  .navbar {
    height: 70px;
    padding: 10px 25px;
    font-size: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 5px 20px rgba(0,0,0,0.10);
  }

  .navbar a{
    font-size: 25px;
  }

  .navbar li a {
    font-size: 20px;
  }

  .navbar-default .navbar-nav>li>a {
    padding: 15px 10px;
  }

  .brand-logo {
    height: 35px;
    margin: -10px 5px 0 0;
  }

  .navbar-brand {
    font-size: 30px;
  }

  #name {
    margin-top: 2px;
  }
}

@media (max-width: 1305px) {
  th {
    font-size: 1.5em;
  }
  td {
    font-size: 1.4em;
  }

  table tr td:nth-child(2) {
    width: 150px;
}

@media only screen and (max-width : 1199px) {
  .work-wrapper-pc,
  .social-wrapper-pc {
    display: none;
  }

  .work-wrapper-mobile,
  .social-wrapper-mobile {
    display: block;
  }

  #social {
    height: 100px;
    padding-top: 23px;
  }

  .fa-github-square,
  .fa-linkedin,
  .fa-dribbble-square,
  .fa-behance-square,
  .fa-twitter-square,
  footer .fa-github-square,
  footer .fa-linkedin,
  footer .fa-dribbble-square,
  footer .fa-behance-square,
  footer .fa-twitter-square {
    margin: 0 18px;
  }

  #workSection {
    padding: 0 10%;
  }

  .card {
    width: 325px;
  }
}

@media (max-width: 1015px) {

  .skills-grid {
    display: block;
  }

  table {
    margin-bottom: 50px;
  }

  .column {
    margin: 0 auto;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
  /* NAVBAR */

  .navbar {
    height: 70px;
    padding: 10px 25px;
    font-size: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 5px 20px rgba(0,0,0,0.10);
  }

  .navbar a{
    font-size: 25px;
  }

  .navbar li a {
    font-size: 20px;
  }

  .navbar-default .navbar-nav>li>a {
    padding: 15px 10px;
  }

  .brand-logo {
    height: 35px;
    margin: -10px 5px 0 0;
  }

  .navbar-brand {
    font-size: 30px;
  }

  #name {
    margin-top: 2px;
  }

  /* BODY */
  .mobile {
    display: block !important;
  }

  .full-screen {
    display: none;
  }

  /* Ensures div won't be hidden behind header when using anchor tag links */
  .anchor {
    padding-top: 70px;
    margin-top: -70px;
  }


  /* MAIN SECTION*/
  main {
    background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-top: 90px;
    padding: none;
    height: 76vh;
    min-height: 76vh;
  }

  #home-top {
    padding: 0 75;
  }

  #home-top section {
    height: 100%;
  }

  #home-top header,
  #home-top .typewriter {
    float: none;
    text-align: center;
  }

  #home-top header {
    margin-top: 11%;
  }

  #home-top h1{
    font-size: 2.5em;
    text-align: center;
  }

  header #type {
    height: 100px;
    margin-bottom: 15px;
  }

  #home-top img {
    min-height: 0;
    height: 27vh;
    float: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid rgb(133, 203, 51);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 5px 20px rgba(0,0,0,0.10);
  }

  #workSection {
    padding: 0;
  }

  #resumeSection img {
    width: 500px;
  }

}

@media only screen and (max-width : 915px) {

  .navbar a{
    font-size: 21px;
  }

  .navbar li a {
    font-size: 16px;
  }

  .brand-logo {
    height: 27px;
    margin-top: -5px;
    margin-right: 0;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
  body {
    width: 100%;
    margin-left: 0px;
  }

  p{
    font-size: 1.35em;
  }

  /* NAVBAR HAMBURGER DROPDOWN STYLES */
  .navbar-default .navbar-collapse {
      background-color: #ffffff;
      margin-top: 8px;
      border: 1px solid #e7e7e7;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 5px 20px rgba(0,0,0,0.10);
  }

  .navbar li a {
    font-size: 30px;
    line-height: 1em;
  }

  .drop-spacer {
    font-size: 20px;
  }

  #home-top h1{
    font-size: 2.2em;
    margin-top: 20%;
  }

  #home-top img {
    margin-top: 20px;
  }

  #skillsSection {
    padding-right: 0;
    padding-left: 0;
  }

  table {
    width: 100%;
  }

  .column {
    width: 100%;
    padding: 0 20%;
  }

  #resumeCTA {
    height: 100px;
    padding-top: 23px;
  }

  #parallaxOne,
  #parallaxTwo {
    height: 40vh;
  }

  .arrow {
    display: none;
  }

  #footer .copyright h4 {
    font-size: 15px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 500px) {
  body {
    width: 100%;
    margin-left: 0px;
  }

  /* NAVBAR */

  .navbar {
    height: 55px;
    padding: 0px 15px;
    font-size: 30px;
  }

  .navbar li a {
    font-size: 17px;
  }

  .drop-spacer {
    font-size: 15px;
  }

  .navbar-default .navbar-collapse {
    margin-top: 1px;
  }

  .brand-logo {
    height: 30px;
    margin: -5px -15px 0 0;
  }

  .navbar-brand {
    font-size: 20px;
  }

  .mobile-hide {
    display: none;
  }

  #name {
    margin-top: 4px;
  }

  .navbar-default .navbar-nav>li>a:hover,
  .navbar-default .navbar-nav>li>a:active,
  nav a:hover,
  nav a:active {
    color: rgb(133, 203, 51);
  }

  .navbar-nav>li>a {
    margin: 0 0 15px 15px;
  }

  .dropdown-menu {
    padding: 0 0 10px 30px;
  }

  #bs-example-navbar-collapse-1 {
    background: #ffffff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 5px 20px rgba(0,0,0,0.10);
  }

  /* BODY */

  /* Ensures div won't be hidden behind header when using anchor tag links */
  .anchor {
    padding-top: 55px;
    margin-top: -55px;
  }

  /* SECTIONS */
  /* MAIN SECTION*/
  main {
    background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-top: 55px;
    min-height: 76vh;
  }

  #home-top header {
    margin-top: 10%;
  }

  #home-top h1{
    font-size: 2em;
  }

  #home-top h2{
    font-size: 1.7em;
  }

  #home-top img {
    height: 24vh;
    float: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid rgb(133, 203, 51);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 5px 20px rgba(0,0,0,0.10);
  }

  #social {
    width: 100%;
    height: 10vh;
    padding-top: 27px;
  }

  .social-wrapper-sm-phone {
    display: block;
  }

  .social-wrapper-mobile {
    display: none;
  }

  .fa-github-square,
  .fa-linkedin,
  .fa-dribbble-square,
  .fa-behance-square,
  .fa-twitter-square,
  footer .fa-github-square,
  footer .fa-linkedin,
  footer .fa-dribbble-square,
  footer .fa-behance-square,
  footer .fa-twitter-square {
    margin: 0 8px;
  }

  th {
    font-size: 1.2em;
  }

  td {
    font-size: 1em;
  }

  #resumeSection img {
    width: 400px;
  }

  #footer .copyright h4 {
    font-size: 11px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 361px) {

  body {
    width: 100vw;
    /* margin-left: 7px; */
    padding: 0;
  }

  #home-top {
    height:86vh;
  }

  #home-top header {
    margin-top: 20px;
  }

  #home-top h1 {
    font-size: 20px;
    margin-top: 4em !important;
  }

  #home-top h2 {
    margin-top: 0;
  }

  #social {
    padding-top: 10px;
  }

  #resumeSection img {
    width: 250px;
  }
}
