* {
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.375em;
  color: rgb(150, 151, 155);
}
h1, h2, h3, h4, h5, h6, .navbar-brand {
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(72, 72, 74);
  font-weight: 300;
}

p{
  font-size: 1.75em;
  padding-bottom: 23px;
}

/* NAVBAR */

.navbar {
  height: 90px;
  padding: 20px 50px;
  font-size: 30px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 5px 20px rgba(0,0,0,0.10);
  margin-right: 0px;
}

.brand-logo {
  height: 50px;
  margin: -15px 20px 0 0;
}

.navbar-brand {
  font-size: 40px;
}

#name {
  margin-top: 4px;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active,
nav a:hover,
nav a:active {
  color: rgb(133, 203, 51);
}

.dropdown-menu a {
  font-size: 17px;
  color: rgb(72, 72, 74) !important;
}

.drop-spacer {
  margin-left: 10px;
}

/* BODY */

/* Ensures div won't be hidden behind header when using anchor tag links */
.anchor {
  padding-top: 89px;
  margin-top: -89px;
}

/* SECTIONS */

/* Makes a div full screen */
.full-section {
  min-height: 110vh;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
}

.content {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
}

/* MAIN SECTION*/
main {
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin-top: 90px;
  padding: 0 60px;
  height: 100%;
  min-height: 100%;
}

#top-anchor {
  height: 1px;
  visibility: hidden;
}

#home-top {
  padding: 0 75;
}

#home-top section {
  height: 78vh;
}

#home-top header,
#home-top .typewriter {
  float: left;
  margin-top: 28vh;
}

#home-top h1{
  font-size: 3em;
}

#home-top img {
  min-height: 570px;
  height: 78vh;
  padding: 20px 0;
  float: right;
  overflow: hidden;
}

.mobile {
  display:none !important;
}

#social {
  background: rgb(133, 203, 51);
  width: 100%;
  height: 125px;
  padding-top: 30px;
  display: inline-block;
  text-align: center;
}

.fa-github-square,
.fa-linkedin,
.fa-dribbble-square,
.fa-behance-square,
.fa-twitter-square {
  color: rgb(72, 72, 74);
  margin: 0 40px;
}

.fa-github-square:hover,
.fa-linkedin:hover,
.fa-dribbble-square:hover,
.fa-behance-square:hover,
.fa-twitter-square:hover {
  color: #353535;
  z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.07);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.07);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.07);
    transition: all 300ms ease-in;
    transform: scale(1.20);
}

/* SKILLS SECTION */

#bioSection header {
  padding-top: 60px;
  padding-bottom: 70px;
}

#skillsSection,
#workSection {
  margin-bottom: 70px;
}

#skillsSection header,
#workSection header {
  padding-top: 60px;
  padding-bottom: 20px;
}

#skillsSection {
  padding-right: 10%;
  padding-left: 10%;
}

table {
  width: 90%;
}

th {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.75em;
  text-align: center;
  text-decoration: underline;
  padding: 0 5px;
}

td {
  font-size: 1.6em;
}

.table-col {
  text-align: left;
  width: 16.6%;
  padding-right: 17.5px;
}

.stars-col {
  text-align: left;
  width: 16.6%;
  padding-left: 17.5px;
}

.skills-grid {
  display: flex;
}

.column {
  flex: 1;
  width: 32%;
}

.table-col {
  width: 100%;
}

table tr td:nth-child(2) {
  width: 192px;
  float: right;
}

/* PARALLAX */

#parallaxOne {
  background-image: url(../img/computer_desk_1920.jpg);
  height: 60vh;
  -webkit-box-shadow:
        inset 3px 10px 35px -9px rgba(0,0,0,0.8),
        inset 3px -10px 35px -9px rgba(0,0,0,0.8);
    -moz-box-shadow:
          inset 3px 10px 35px -9px rgba(0,0,0,0.8),
          inset 3px -10px 35px -9px rgba(0,0,0,0.8);
      box-shadow:
            inset 3px 10px 35px -9px rgba(0,0,0,0.8),
            inset 3px -10px 35px -9px rgba(0,0,0,0.8);
  }

#parallaxTwo {
  background-image: url(../img/photoshop_desk.jpg);
  height: 60vh;
  margin-top: -4px;
  -webkit-box-shadow:
        inset 3px 10px 35px -9px rgba(0,0,0,0.8),
        inset 3px -10px 35px -9px rgba(0,0,0,0.8);
    -moz-box-shadow:
          inset 3px 10px 35px -9px rgba(0,0,0,0.8),
          inset 3px -10px 35px -9px rgba(0,0,0,0.8);
      box-shadow:
            inset 3px 10px 35px -9px rgba(0,0,0,0.8),
            inset 3px -10px 35px -9px rgba(0,0,0,0.8);
}

/* WORK SECTION*/

.work-wrapper-mobile,
.social-wrapper-mobile,
.social-wrapper-sm-phone {
  display: none;
}

/* Button in bottom right hand corner to retutn to top */
#topBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 50px;
    z-index: 99;
    border: 3px solid rgb(133, 203, 51);
    outline: none;
    background-color: white;
    color: rgb(133, 203, 51);
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
}

/* SECTIONS */

/* Makes a div full screen */
.full-section {
  min-height: 110vh;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
}

h3 {
  font-size: 3.75em;
  margin-bottom: 40px;
}

/* COLORS */

.green {
  color: rgb(133, 203, 51);
  text-shadow: 1px 3px 2px rgba(0,0,0,0.2);
}

.green-bg {
  background: rgb(133, 203, 51);
}

.white {
  color: #ffffff;
  text-shadow: 1px 3px 2px rgba(0,0,0,0.2);
}


/* CARDS */
.card {
  position: relative;
  display: inline-block;
  width: 90%;
  height: 400px;
  margin: 0 5% 55px 5%;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.07);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.07);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.07);
    transition: all 200ms ease-in;
    transform: scale(1.07);
}

#workSection .card header,
#workSection .card header h4 {
  padding: 5px 0 0 0;
  margin: 0;
  text-decoration: underline;
}

#workSection .card p {
  font-size: 0.90em;
  padding: 0 20px;
}

.card .card-image {
  height: 66.6%;
  border-bottom: 1px solid grey;
  overflow: hidden;
}

.card .card-image img {
  height: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
}

.card .card-content {
  height: 33.4%;
}

/* RESUME CALL TO ACTION SECTION */

#resumeCTA {
  background: rgb(133, 203, 51);
  width: 100%;
  height: 125px;
  padding-top: 36px;
  display: inline-block;
  text-align: center;
}

#resumeCTA button,
#resumeSection button {
  background-color: rgb(72, 72, 74);
  color: rgb(133, 203, 51);
  height: 55px;
  font-size: 1.7em;
  border-radius: 12px;
  text-decoration: none;
  border: none;
}

#resumeCTA button:hover,
#resumeSection button:hover {
background-color: #353535;
z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.07);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.07);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.07);
  transition: all 300ms ease-in;
  transform: scale(1.20);
}

.btn:focus,
.btn:active {
   outline: none !important;
   box-shadow: none;
}

 /* arrow animation*/
.arrow .fa-arrow-right {
  color: rgb(72, 72, 74);
  opacity: 0;
  transition: 1s;
  transform: translateX(-80px);
}

#resumeCTA:hover .arrow .fa-arrow-right {
  opacity: 1;
  transform: translateX(80px);
}

.arrow .fa-arrow-left {
  color: rgb(72, 72, 74);
  opacity: 0;
  transition: 1s;
  transform: translateX(80px);
}

#resumeCTA:hover .arrow .fa-arrow-left {
  opacity: 1;
  transform: translateX(-80px);
}

/* RESUME SECTION */

#resumeSection {
  text-align: center;
  height: 80vh;
  margin-top: -4px;
  margin-bottom: 15px;
  overflow: scroll;
}

#resumeSection img {
  margin: 10px 0 20px 0;
  border: 1px solid rgb(187, 187, 187);
  -webkit-box-shadow: 10px 10px 10px -2px rgba(0,0,0,0.52);
    -moz-box-shadow: 10px 10px 10px -2px rgba(0,0,0,0.52);
      box-shadow: 10px 10px 10px -2px rgba(0,0,0,0.52);
}

#resumeSection button {
  margin: 0 0 20px 0;
}

/* FOOTER */

footer {
  background-color: rgb(72, 72, 74);
  text-align: center;
  padding: 30px 0 20px 0;
}

footer img {
  margin-bottom: 15px;
}

footer a,
footer a:hover {
  text-decoration: none;
  color: rgb(133, 203, 51);
}

footer p {
  padding-bottom: 15px;
}

footer .fa-github-square,
footer .fa-linkedin,
footer .fa-dribbble-square,
footer .fa-behance-square,
footer .fa-twitter-square {
  color: rgb(133, 203, 51);
  margin: 0 40px;
}

footer .fa-github-square:hover,
footer .fa-linkedin:hover,
footer .fa-dribbble-square:hover,
footer .fa-behance-square:hover,
footer .fa-twitter-square:hover {
  color: rgb(133, 203, 51);
  z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.07);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.07);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.07);
    transition: all 300ms ease-in;
    transform: scale(1.20);
}

#footer .copyright h4 {
  line-height: 50px;
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
